.product-detail-page {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    width: 100%;
    position: relative;
  }
  
  .detail-section {
    height: 60vh;
    background-color: #c9f8c9;
    padding: 20px;
    text-align: center;
  }
  
  /* .small-card {
    height: 10vh;
    width: 80%;
    margin: 0 auto;
    background-color: #a2e5a2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  } */
   .smallcard {
    position: absolute;
    width: 100%;
    top: 54vh;   
    left: 50%;
    transform: translateX(-50%);
  } 
  
  .learning-section {
    /* background-color: #f0fff0; */
    padding: 70px;
    background-color: #f0fff0; 
  }
  
  /* .reviews-section {
    height: 100vh;
    background-color: #c9f8c9;
    padding: 20px;
  } */
  
  .description-section {
    min-height: 50vh;
    /* background-color: #f8f8f8; */
    padding: 20px;
  }
  